<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <script src="https://unpkg.com/html5-qrcode"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/qr-scanner.css">
</head>
<body>

<h2 th:text="${locationName}"></h2>

<div class="qr-reader" id="qr-reader"></div>

<div class="qr-reader-results" id="qr-reader-results">
    <div class="scan-status" id="scan-status"></div>
</div>

<a class="scan btn-primary" th:href="@{/staff/dashboard}">Cancel</a>

<script src="/scripts/qr-scanner.js"></script>
</body>
</html>
