<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request a Visit</title>
    <link rel="stylesheet" href="/css/request-form.css">
    <link rel="stylesheet" href="/css/navbarstyle.css">
</head>
<body>

<header class="header">
    <h1 class="logo">
        <a href="/dashboard">
            <img src="https://www.wwutilities.co.uk/images/mobile-logo.png" alt="Logo" />
        </a>
    </h1>
    <nav>
        <ul class="main-nav">
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="container">

    <h1>Please enter your request details: </h1>

    <form th:action="@{/requests/new}" th:method="post" th:object="${request}">

        <input th:field="*{requestId}" th:value="0" type="hidden"/>

        <input th:field="*{requestDate}" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" type="hidden"/>

        <div class="mb-3">
            <label class="form-label" th:for="*{visitStartDate}">Visit Start Date:</label>
            <input class="form-control" placeholder=" Start Date of Visit" th:field="*{visitStartDate}" type="date"/>
            <div class="alert alert-warning" th:errors="*{visitStartDate}" th:if="${#fields.hasErrors('visitStartDate')}">Visit Start Date Error</div>
        </div>

        <div class="mb-3">
            <label class="form-label" th:for="*{visitEndDate}">Visit End Date:</label>
            <input class="form-control" placeholder="End Date of Visit" th:field="*{visitEndDate}" type="date"/>
            <div class="alert alert-warning" th:errors="*{visitEndDate}" th:if="${#fields.hasErrors('visitEndDate')}">Visit End Date Error</div>
        </div>

        <div class="mb-3">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>

</div>
</body>
</html>