<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/check-in.css">
    <link rel="stylesheet" href="/css/navbarstyle.css">
    <script src="/scripts/qr-regeneration-timer.js"></script>
</head>

<body>

<header class="header">
    <h1 class="logo">
        <a href="/dashboard">
            <img src="https://www.wwutilities.co.uk/images/mobile-logo.png" alt="Logo" />
        </a>
    </h1>
    <nav>
        <ul class="main-nav">
            <li><a href="login">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="qrcode-card">
    <img th:if="${qrcode}" th:src="'data:image/png;base64,' + ${qrcode}" alt="QR Code">
    <p th:if="${error}" th:text="${error}"></p>
</div>

<div>
    <p class="timer" id="timer">5:00 remaining</p>
</div>

<div>
    <a class="btn-primary" style="padding: 10px 20px 10px 20px" th:href="@{/dashboard}">Cancel</a>
</div>

</body>
</html>
