<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wales & West Utilities</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="nav-top">

</div>
<nav class="header-navbar" th:fragment="header">
    <div class="logo-section">
        <a class="logo" href="/welcome">
            <img src="https://www.wwutilities.co.uk/images/WWU-Logo-Desktop.svg" alt="WW Utilities Logo">
        </a>
    </div>
    <div class="signout-section">
        <a class="sign-out-link" href="/logout">Sign Out</a>
    </div>
</nav>
</body>
</html>
