<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Tracking System</title>
    <link rel="stylesheet" href="visittracking.css">
</head>
<body>
<div class="logo">
<img src="https://www.wwutilities.co.uk/images/WWU-Logo-Desktop.svg" alt="WW Utilities Logo">
<h1>Visit Tracking System</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>User</th>
            <th>Location</th>
            <th>Check-In Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.userName}"></td>
            <td th:text="${visit.locationName}"></td>
            <td th:text="${visit.checkInTime}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
