<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Tracking System</title>
    <link rel="stylesheet" href="/css/visittracking.css">
    <link rel="stylesheet" href="/css/navbarstyle.css">
</head>
<body>
<header class="header">
    <h1 class="logo">
        <a href="/admin/dashboard">
            <img src="https://www.wwutilities.co.uk/images/mobile-logo.png" alt="Logo" />
        </a>
    </h1>
    <nav>
        <ul class="main-nav">
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>

<div class="container">
    <h1>Visit Tracking System</h1>
    <table>
        <thead>
        <tr>
            <th>User Name</th>
            <th>Location Name</th>
            <th>Date</th>
            <th>Check-In Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit['visitorName']}"></td>
            <td th:text="${visit['locationName']}"></td>
            <td th:text="${visit['checkInDate']}"></td>
            <td th:text="${visit['checkInTime']}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
