<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <meta charset="UTF-8">
    <title>Register to Check in</title>
    <script src="FormValidation.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1>Register to Check in</h1>
<p>Users must complete this form to check in and record on-site attendance</p>
<form id="checkinForm">
    <label for="userID">User ID: <span class="required">*</span></label>
    <input type="text" id="userID" name="userID">

    <label for="password">Password: <span class="required">*</span></label>
    <input type="password" id="password" name="password"> <!-- Changed type to password -->

    <input type="submit" class="button" value="Submit">
</form>
</body>
</html>


