<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check In Form</title>
</head>
<body>
<h1>Check-in Form</h1>
<p>Users must complete this form to check in and record on-site attendance</p>
<form>
    <label for="userID">User ID:</label><br>
    <input type ="text" id="userID" name="userID"><br>
    <label for="firstname">First name:</label><br>
    <input type="text" id="firstname" name="firstname"><br>
    <label for="lastname">Last name:</label><br>
    <input type="text" id="lastname" name="lastname"><br>
    <label for="email">Email address:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="companyName">Company name:</label><br>
    <input type="text" id="companyName" name="companyName"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>


