<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Locations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="~{fragments/header :: header}"/>
<h1>Locations</h1>

<button><a th:href="@{/admin/locations/add}">Add Location</a></button>

<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="location : ${locations}">
        <td><a th:href="@{/admin/locations/{id} (id=${location.id})}" th:text="${location.name}"></a></td>
        <td><button><a th:href="@{/admin/locations/edit/{id} (id=${location.id})}">Edit</a></button></td>
        <td><button><a th:href="@{/admin/locations/delete/{id} (id=${location.id})}">Delete</a></button></td>
    </tbody>
</table>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>