<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location Details</title>
    <link rel="stylesheet" href="/css/locations-css.css">
    <link rel="stylesheet" href="/css/navbarstyle.css">
</head>
<body>
<header class="header">
    <h1 class="logo">
        <a href="/admin/dashboard">
            <img src="https://www.wwutilities.co.uk/images/mobile-logo.png" alt="Logo" />
        </a>
    </h1>
    <nav>
        <ul class="main-nav">
            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>
</header>

<h1>Location Details</h1>

<table>
    <tr>
        <td>Name:</td>
        <td th:text="${location.name}"></td>
    </tr>
    <tr>
        <td>Address Line 1:</td>
        <td th:text="${location.addressLine1}"></td>
    </tr>
    <tr>
        <td>Address Line 2:</td>
        <td th:text="${location.addressLine2}"></td>
    </tr>
    <tr>
        <td>City:</td>
        <td th:text="${location.city}"></td>
    </tr>
    <tr>
        <td>Postcode:</td>
        <td th:text="${location.postcode}"></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td th:text="${locationType.name}"></td>
    </tr>
</table>
</body>
</html>